@import "./utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
  padding: 1.5rem;
  background-image: url(https://source.unsplash.com/featured/?nature&aerial);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

// Form
.app__form {
  padding-top: 4rem;
  width: 50%;
  height: 80%;
  margin: auto;
  color: black;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;

  button {
    width: 85%;
    margin: 0 auto;
    font-size: 1.4rem;
    letter-spacing: 2.5px;
    border: none;
    border-radius: $radius;
    height: 2.4rem;
    background-color: $orange;
    cursor: pointer;
  }
}

.app__form__name,
.app__form__city {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto 2rem;

  label {
    font-size: $font;
    margin-bottom: 4px;
  }

  input {
    padding: 2px 0 2px 8px;
    border-radius: $radius;
    background-color: $lightgrey;
    height: $height;
  }

  input:focus {
    outline: none;
  }
}

// Weather
.weather {
  border: 2px solid white;
  width: 100%;
  height: 90%;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 2.2rem;
  }
}
// Day
.day {
  border: 2px solid white;
  width: 100%;
  height: 90%;
  grid-row: 1 / 2;
  grid-column: 3 / 4;

  h4 {
    font-size: 1.8rem;
  }
}

// Time
.time {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  h2 {
    font-size: 10rem;
  }

  h3 {
    font-size: 2.2rem;
  }
}

// Quote
.quote {
  width: 100%;
  height: 90%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
